
#buttonAddNew {
  float: right ;
  padding: 5px;
  cursor: pointer;
}

.set {
  border: 2px solid rgba(71, 80, 85, 0.5);
  padding: 5px;
  margin: 5px;
  max-width: 400px;
  background-color: rgba(93, 103, 112, 0.308);
}

.set > div {
  width: 50%;
  display: inline-block;
  border-bottom: 2px solid rgba(52, 214, 174, 0.7);
  margin-bottom: 4px;
}

#setsCompletedContainer {
  margin: 5px;
  margin-top: 15px;
  padding: 5px;
  max-width: 400px;
  color: rgb(101, 52, 214);
  border: 2px solid rgba(0, 75, 16, 0.438);
  background-color: rgba(4, 143, 78, 0.308);
}

#setsCompletedContainer * {
  color: black;
}

